.selector {
  width: 240px;
  height: 32px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px var(--selector-news-border-color);
  outline: none;
  background-color: white;
}

.select-item {
  display: flex;
  align-items: center;
  gap: 2px
}