.header {
  height: 114px;
  width: 100%;
  background-image: var(--header-bg-color);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

.header-container {
  height: 114px;
  display: flex;
  align-items: center;
}

.title {
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}