.header {
  height: 114px;
  width: 100%;
  background-image: var(--header-bg-color);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

.header-container {
  height: 114px;
  display: flex;
  align-items: center;
}